%section#terms
  .container.wow.animated.fadeIn
    .row
      .col-lg-12
        %h1.text-center أسئلة شائعة
        %br
        %h3.arb.text-right ١. لماذا programer و ليس programmer؟
        %p.arb.text-right
          كلى الكلمتان صحيحتان وتعني مبرمج. إختلاف الإملاء في الكلمتان ناتج عن أن
          اللغة الإنجليزية كتابة و قرائة ونطقا تختلف من بلد لآخر. في المملكة
          المتحدة (بريطانيا) تكتب على شكل programmer أما في الولايات المتحدة
          (أمريكا) تكتب programer. وكلاهما ينطقون الكلمة بنفس الطريقة.

        %h3.arb.text-right ٢. ما هي programer.tv؟
        %p.arb.text-right
          نشأت فكرة programer.tv لتلبي طلبات المبرمج العربي. نظرا لنقص الموارد
          العلمية الحديثة والمتجددة في البرمجة باللغة العربية فإن هدفنا الرئيسي
          هو توعية الشباب والشابات العرب بكل ما هو جديد ومفيد في عالم برمجة
          الحاسب والويب.

        %h3.arb.text-right ٣. من هو محمد عبدالله ساعد؟
        %p.arb.text-right
          = link_to "محمد عبدالله ساعد", "http://moeabdol.com", target: "_blank"
          هو مهندس برمجيات من المملكة العربية السعودية. درس تخصص الذكاء الإصطناعي
          Artificial Intelligence في إمبراطورية اليابان. بدأ محمد في كتابة
          البرامج الصغيرة والبسيطة في عام ١٩٩٦. عبر السنين تعرف محمد على
          الصعوبات والتحديات التي تواجه المبرمجين بشكل عام والصعوبات والعوائق
          التي تواجه المبرمجين العرب بشكل خاص.

        %h3.arb.text-right
          ٤. هل أستطيع مشاهدة جميع الفيديوهات على موقع programer.tv؟
        %p.arb.text-right
          نعم! العديد من الفيديوهات اللتي نقدمها هنا في programer.tv مجانية وهي
          للهواة. نقوم أيضا بتقديم دورات و فيديوهات للمحترفين. لعرض فيديوهات
          المحترفين تستطيع دفع مبلغ ٣٠ دولار أمريكي في الشهر أو دولار واحد في
          اليوم علما بأنك تستطيع عرض جميع الفيديوهات على موقعنا عندما تقوم
          بالإشتراك كمحترف.

        %h3.arb.text-right ٥. كيف أقوم بتغيير كلمة المرور الخاصة بي؟
        %p.arb.text-right
          إذا نسيت كلمة المرور الخاصة بك أو إذا كنت تريد تغييرها فيمكنك الذهاب
          إلى صفحة تسجيل الدخول والنقر على هل نسيت كلمة المرور؟ كما هو موضح
          بالأسفل.
          %br
          %br
          = image_tag "forgot_password.png", class: "img-responsive"

        %h3.arb.text-right ٦. كيف أقوم بالتواصل معكم؟
        %p.arb.text-right
          تستطيع التواصل معنا بشكل مباشر عن طريق مراسلتنا على البريد الإلكتروني
          = mail_to "admin@programer.tv", "admin@programer.tv"
          أو مراسلتنا عبر شبكات التواصل الإجتماعي
          = link_to "Facebook فيسبوك", "https://bit.ly/prfb"
          ,
          = link_to "Twitter تويتر", "https://bit.ly/prtw"
          أو
          = link_to "YouTube يوتيوب", "https://bit.ly/prutb"
          \.

        %h3.arb.text-right ٧. عندي شكوى أو إقتراح؟
        %p.arb.text-right
          نرجوا أن ترسل لنا الشكاوى أو الإقتراحات على البريد الإلكتروني
          = mail_to "admin@programer.tv", "admin@programer.tv"
          وسنقم بالرد عليك في القريب العاجل.


%footer
  .container.text-center
    .row.copyright
      .col-lg-12
        %p.small
          = link_to root_path do
            ©
            = Time.new.year
            programer.tv
    %br
