%nav.navbar.navbar-inverse.navbar-fixed-top.navbar-expanded
  .container
    .navbar-header
      = button_tag class: "navbar-toggle", "data-toggle": "collapse",
                   "data-target": "#collapsed-navs" do
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "#page-top", class: "navbar-brand page-scroll" do
        = image_tag "logo.png", class: "logo"

    #collapsed-navs.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li.hidden.active
          = link_to "#page-top", class: "page-scroll"
        %li
          = link_to "نبذة", "#about", class: "page-scroll"
        %li
          = link_to "الدورات", "#courses", class: "page-scroll"
        %li
          = link_to "دخول", new_user_session_path, id: "user_signin_link"

    #collapsed-navs.collapse.navbar-collapse

%header.video.fs-background-element.fs-background
  .scroll-down.page-scroll
    = link_to "#about", class: "btn page-scroll" do
      = fa_icon "angle-down"

  .placeholder

  .fs-background-container
    .fs-background-media.fs-background-animated
      = video_tag "header_video.mp4", "header_video.ogv", "header_video.webm",
                  poster: "header_video_fallback.png", loop: true,
                  autoplay: true, controls: false

%section#about
  .container-fluid
    .row.text-center
      .col-lg-12.wow.animated.fadeIn
        %h1 موقع المبرمج العربي
        %p الموقع المثالي لهواة ومحترفوا البرمجة العرب.
        %hr.colored

    .row.text-center.content-row
      .col-md-4.wow.animated.fadeIn{ "data-wow-delay": ".2s" }
        .about-content
          = fa_icon "eye 4x"
          %h3 شاهد بنقاوة عالية
          %p
            شاهد العديد من الفيديوهات التعليمية لأحدث لغات وأدوات البرمجة مشروحة
            لك باللغة العربية و بنقاوة 1080p HD العالية الجودة.

      .col-md-4.wow.animated.fadeIn{ "data-wow-delay": ".4s" }
        .about-content
          = fa_icon "smile-o 4x"
          %h3 تعلم بأسلوب مرح
          %p
            من أهم أهدافنا أن نوصل إليك المعلومات والمبادئ الصعبة بأسلوب سهل و
            مرح بحيث يسهل عليك فهمها و إستخدامها.

      .col-md-4.wow.animated.fadeIn{ "data-wow-delay": ".6s" }
        .about-content
          = fa_icon "code 4x"
          %h3 طبق ما تتعلم
          %p
            لا نكتفي بسرد المعلومات النظرية فقط بل نأخذك خطوة بخطوة عبر مشاريع
            عملية وواقعية لكي تتكون لديك فكرة شاملة وواضحة.

%aside.cta-quote

%section#courses.bg-gray
  .container.text-center.wow.animated.fadeIn
    %h2
      الدورات
    %hr.colored
    %p
      بعض الدورات اللتي نقدمها

%section.portfolio-carousel.wow.fadeIn
  #ruby.item
    .container-fluid
      .row
        .col-md-8.col-md-push-4.hidden-xs
          = image_tag "ruby_course_ad.png", class: "img-responsive portfolio-image"
        .col-md-4
          .project-details
            %span.project-name
              روبي
            %span.project-description
              تعلم برمجة الحاسب بلغة روبي
            %br
            = link_to new_user_session_path, class: "btn btn-outline-light" do
              تعلم الآن
              = fa_icon "long-arrow-left fw"

  #commandline.item
    .container-fluid
      .row
        .col-md-8.hidden-xs
          = image_tag "commandline_course_ad.png", class: "img-responsive portfolio-image"
        .col-md-4
          .project-details
            %span.project-name
              سطر الأوامر
            %span.project-description
              تحكم بالحساب عبر سطر الأوامر
            %br
            = link_to new_user_session_path, class: "btn btn-outline-light" do
              تعلم الآن
              = fa_icon "long-arrow-left fw"

%footer.footer
  .container.text-center
    .row
      .col-lg-12.contact-details
        %h4
          = fa_icon "envelope"
          البريد الإلكتروني
        %p= mail_to "admin@programer.tv", "admin@programer.tv"
    .row.social
      .col-lg-12
        %ul.list-inline
          %li
            = link_to "https://bit.ly/prgtw", target: "_blank" do
              = fa_icon "twitter fw 2x"
          %li
            = link_to "https://bit.ly/prgfb", target: "_blank" do
              = fa_icon "facebook fw 2x"
          %li
            = link_to "https://bit.ly/prgutb", target: "_blank" do
              = fa_icon "youtube fw 2x"
    .row.copyright
      .col-lg-12
        %p.small
          = link_to "أسئلة شائعة", faq_path
          &nbsp;|&nbsp;
          = link_to "سياسة الخصوصية", privacy_path
          &nbsp;|&nbsp;
          = link_to "شروط الخدمة", terms_path
          %br
          ©
          = Time.new.year
          programer.tv
