.login-img
  = image_tag "logo_and_text_devise.png", alt: "logo",
              class: "img-responsive center-block"

.row.login-container.column-seperation
  .col-md-5.col-md-offset-1
    %h2 تسجيل
    %p
      مرحبا بك في programer.tv إذا كانت هذه أول مرة لك بأن تقوم بزيارتنا فيمكنك
      تعبئة بياناتك والتسجيل للدخول أما إذا سبق وأن سجلت فيمكنك
      = link_to "الدخول هنا", new_user_session_path
      أو يمكنك تسجيل الدخول عبر فيسبوك أو تويتر.
    %p
      في حال وجود أي ملاحظات أو إقتراحات فيرجي إرسال بريد إلكتروني إلى
      = mail_to "admin@programer.tv"
    = link_to "تسجيل الدخول عبر فيسبوك",
              user_omniauth_authorize_path(:facebook),
              id: "facebook_login_link",
              class: "btn btn-block btn-info col-md-12"
    = link_to "تسجيل الدخول عبر تويتر",
              user_omniauth_authorize_path(:twitter),
              id: "twitter_login_link",
              class: "btn btn-block btn-success col-md-12"

  .col-md-5
    %br
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      - if resource.errors.any?
        .flash-message{ key: :error, value: 'هناك خطأ ما!' }
      .form-inputs
        = f.input :username, required: true, autofocus: true,
                  label: "إسم المستخدم"
        = f.input :email, required: true, label: "البريد الإلكتروني"
        = f.input :password, required: true, label: "كلمة المرور"
        = f.input :password_confirmation, required: true,
                  label: "تأكيد كلمة المرور"
        = recaptcha_tags ssl: true, hl: "ar", theme: "light"
        %br
        = f.button :submit, "تسجيل", id: "user_signup_link",
                  class: "btn btn-primary btn-cons"

      .grid.transparent
        .grid-body.no-border
          = render "devise/shared/links"
