.row
  .col-lg-12
    .page-title
      = fa_icon "pencil lg"
      %h3 المدونة

.row.courses.center-block
  - @articles.each do |article|
    .course
      = link_to article, id: "#{dom_id(article)}" do
        .widget-item
          .tiles.white
            .course-img.tiles-body
          .tiles.white
            .course-txt.tiles-body
              .p-l-15.p-t-10.p-r-20
                %h5.text-center= article.ar_title

.row
  .col-lg-12
    %br
    = link_to new_article_path, class: "btn btn-success btn-cons",
              id: "add_new_article_link" do
      = fa_icon "plus"
      %span &nbsp;إنشاء مقال
