.row
  .col-lg-12
    .page-title
      = fa_icon "pencil lg"
      %h3 المدونة

.row.boxes.center-block
  - @articles.each do |article|
    .box
      = link_to article, id: "#{dom_id(article)}" do
        .widget-item
          .tiles.white
            .box-img.tiles-body
              = image_tag article.image.url,
                          class: "center-block img-responsive hover-effect-img"

.row
  .col-lg-12
    %br
    = link_to new_article_path, class: "btn btn-success btn-cons",
              id: "add_new_article_link" do
      = fa_icon "plus"
      %span &nbsp;إنشاء مقال
