.login-img
  = image_tag "logo_and_text_devise.png", alt: "logo",
              class: "img-responsive center-block"

.row.login-container.column-seperation
  .col-md-5.col-md-offset-1
    %h2 هل نسيت كلمة المرور؟
    %p
      في حال نسيان أو فقدان كلمة المرور فيمكنك إدخال بريدك اللكتروني المسجل في
      الخانة الموضحة و سنقوم بإرسال تعليمات إنشاء كلمة مرور جديدة على بريدك
      الإلكتروني.
    %p
      في حال وجود أي ملاحظات أو إقتراحات فيرجي إرسال بريد إلكتروني إلى
      = mail_to "admin@programer.tv"
  .col-md-5
    %br
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      - if resource.errors.any?
        .flash-message{ key: :error, value: 'هناك خطأ ما!' }
      .form-inputs
        = f.input :email, required: true, autofocus: true,
                  label: "البريد الإلكتروني"
        = f.button :submit, "إرسال تعليمات إنشاء كلمة مرور جديدة",
                   class: "btn btn-primary btn-cons", id: "reset_password_link"

      .grid.transparent
        .grid-body.no-border
          = render "devise/shared/links"
