= provide(:title, @video.ar_title)
= disqus_script
= twitter_script
= facebook_script

.row
  .col-lg-12
    %ul.breadcrumb
      %li
        %p= link_to "مكتبة الفيديو", videos_path
      %li
        %p
          &nbsp;
          = @video.ar_title

.row
  .col-lg-10.col-lg-offset-1
    .grid.simple.transparent
      .embed-responsive.embed-responsive-16by9
        = video_iframe @video
      .video-info-bar.pull-left
        %span.small
          المقدم:
          = @video.instructor
          %br
          مدة العرض:
          = @video.duration_in_words
      .social-buttons.pull-right
        %span= facebook_button(request.original_url)
        %span= tweet_video_button(@video.ar_title)

    .grid.simple.horizontal.green
      .grid-title
        %h4
          %span.semi-bold= @video.ar_title
        .tools
          %a{ href: "javascript:;", class: "collapse" }
          %a{ href: "javascript:;", class: "reload" }
          %a{ href: "javascript:;", class: "remove" }
      .grid-body
        %p#course_description= @video.description.html_safe

    .grid.simple.horizontal.blue
      .grid-title
        %h4
          %span.semi-bold التعليقات
        .tools
          %a{ href: "javascript:;", class: "collapse" }
          %a{ href: "javascript:;", class: "reload" }
          %a{ href: "javascript:;", class: "remove" }
      .grid-body
        = disqus_comments

.row
  .col-lg-10.col-lg-offset-1
    .grid.simple.transparent
      - if policy(@video).edit?
        = link_to edit_video_path, class: "btn btn-warning btn-cons",
                  id: "edit_video_link" do
          = fa_icon "pencil"
          %span &nbsp;تعديل

      - if policy(@video).destroy?
        = link_to video_path,
                  class: "btn btn-danger btn-cons",
                  id: "delete_video_link",
                  method: :delete,
                  data: { "confirm": "هل أنت متأكد؟",
                          "confirm-button-text": "نعم",
                          "cancel-button-text": "لا",
                          "confirm-button-color": "#F35958" } do
          = fa_icon "trash-o"
          %span &nbsp;حذف
