.row
  .col-lg-12
    .grid.simple
      .grid-title.no-border
      .grid-body.no-border
        = simple_form_for [@course, @episode] do |f|
          .row
            .form-group.col-lg-6
              = image_tag @episode.image.url(:original)
              %br
              %br
              * لأفضل النتائج يرجى تحميل صورة ذات أبعاد 1280x720
          .row
            .form-group.col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.input :image, as: :file, label: false, class: "filestyle"
          .row
            .form-group.col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.input :en_title
            .form-group.col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.input :ar_title
          .row
            .form-group.col-lg-4.col-md-4.col-sm-4.col-xs-12
              = f.input :sequence
            .form-group.col-lg-4.col-md-4.col-sm-4.col-xs-12
              = f.input :video_host, collection: %w(YouTube Wistia Vimeo),
                        default: "YouTube"
            .form-group.col-lg-4.col-md-4.col-sm-4.col-xs-12
              = f.input :video_id
          .row
            .form-group.col-lg-12
              = f.input :description,
                        as: :ckeditor,
                        input_html: { ckeditor: { toolbar: "Full" } }

          .form-actions
            - if @episode.new_record?
              = button_tag type: "submit", class: "btn btn-success btn-cons",
                           id: "submit" do
                = fa_icon "check"
                %span &nbsp;تم
              = link_to @course, class: "btn btn-danger btn-cons" do
                = fa_icon "close"
                %span &nbsp;إلغاء
            - else
              = button_tag type: "submit", class: "btn btn-success btn-cons",
                           id: "submit" do
                = fa_icon "check"
                %span &nbsp;تم
              = link_to course_episode_path(@course, @episode),
                        class: "btn btn-danger btn-cons" do
                = fa_icon "close"
                %span &nbsp;إلغاء
