.login-img
  = image_tag "logo_and_text_devise.png", alt: "logo",
              class: "img-responsive center-block"

.row.login-container.column-seperation
  .col-md-5.col-md-offset-1
    %h2 دخول
    %p
      مرحبا بك في programer.tv إذا لم يسبق لك وأن سجلت فيمكنك
      = link_to "التسجيل هنا", new_user_registration_path,
                id: "user_signup_link"
      أو يمكنك تسجيل الدخول عبر فيسبوك أو تويتر.
    %p
      في حال وجود أي ملاحظات أو إقتراحات فيرجي إرسال بريد إلكتروني إلى
      = mail_to "admin@programer.tv"
    = link_to "تسجيل الدخول عبر فيسبوك",
              user_omniauth_authorize_path(:facebook),
              id: "facebook_login_link",
              class: "btn btn-block btn-info col-md-12"
    = link_to "تسجيل الدخول عبر تويتر",
              user_omniauth_authorize_path(:twitter),
              id: "twitter_login_link",
              class: "btn btn-block btn-success col-md-12"

  .col-md-5
    %br
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        = f.input :login, required: true, autofocus: true,
                  label: "إسم المستخدم أو البريد الإلكتروني"
        = f.input :password, required: true, label: "كلمة المرور"
        = f.input_field :remember_me, inline_label: "\u00A0تذكرني",
                        as: :boolean if devise_mapping.rememberable?
        %br
        = f.button :submit, "دخول", id: "user_signin_link",
                   class: "btn btn-primary btn-cons"

      .grid.transparent
        .grid-body.no-border
          = render "devise/shared/links"
