= provide(:title, "نتائج البحث")

.row
  .col-lg-12
    .page-title
      = fa_icon "search lg"
      %h3 نتائج البحث

.row.boxes.center-block
  - if @results.length == 0
    .col-lg-12.text-center
      %p{ style: "font-size: 22px"}
        لا توجد نتائج للبحث!
  - else
    - @results.each do |result|
      .box
        = link_to result.searchable, id: "#{dom_id(result.searchable)}" do
          .widget-item
            .tiles.white
              .tiles-body
                .box-img
                  = image_tag result.searchable.image.url,
                    class: "center-block img-responsive hover-effect-img"
                .box-banners
                  %ul
                    - if result.searchable.new?
                      %li= image_tag "new_banner.png"
                    -if result.searchable.is_a?(Course) || result.searchable.is_a?(Video)
                      - resource = result.searchable
                      - if resource.premium?
                        %li= image_tag "premium_banner.png"
                      - if not resource.level.nil?
                        - if resource.level == "مبتدئ"
                          %li= image_tag "beginner_banner.png"
                        - elsif resource.level == "متوسط"
                          %li= image_tag "intermediate_banner.png"
                        - elsif resource.level == "متقدم"
                          %li= image_tag "advanced_banner.png"
                .box-icon
                  - if result.searchable.is_a?(Course)
                    = fa_icon "graduation-cap 2x"
                  - elsif result.searchable.is_a?(Article)
                    = fa_icon "pencil 2x"
                  - elsif resource.is_a?(Video)
                    = fa_icon "video-camera 2x"
                - if current_user.admin? and result.searchable.active?
                  .box-active-badge
                    %span Live
                    = fa_icon "circle"
