.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
      .grid-body.no-border
        = simple_form_for @course do |f|
          .row
            .form-group.col-lg-6
              = image_tag @course.image.url(:original)
          .row
            .form-group.col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.input :image, as: :file, label: false, class: "filestyle"
          .row
            .form-group.col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.input :en_title
            .form-group.col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.input :ar_title
          .row
            .form-group.col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.input :video_host,
                        collection: %w(YouTube Wistia Vimeo),
                        default: "YouTube"
            .form-group.col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.input :video_id
          .row
            .form-group.col-lg-12
              = f.input :description,
                        label: "Description",
                        as: :ckeditor,
                        input_html: { ckeditor: { toolbar: "Full" } }
          .row
            .form-group.col-lg-2.col-md-2.col-sm-2.col-xs-3
              = f.input_field :premium, as: :boolean, inline_label: "Premium"
            .form-group.col-lg-2.col-md-2.col-sm-2.col-xs-3
              = f.input_field :active, as: :boolean, inline_label: "Active"

          .form-actions
            - if @course.new_record?
              = button_tag type: "submit", id: "submit",
                           class: "btn btn-success btn-cons" do
                = fa_icon "check"
                %span &nbsp;Create
              = link_to courses_path, class: "btn btn-danger btn-cons" do
                = fa_icon "close"
                %span &nbsp;Cancel
            - else
              = button_tag type: "submit", id: "submit",
                           class: "btn btn-warning btn-cons" do
                = fa_icon "pencil"
                %span &nbsp;Edit
              = link_to @course, class: "btn btn-danger btn-cons" do
                = fa_icon "close"
                %span &nbsp;Cancel
