.row
  .col-lg-12
    .page-title
      = fa_icon "graduation-cap lg"
      %h3 الدورات

.row.boxes.center-block
  - @courses.each do |course|
    .box
      = link_to course, id: "#{dom_id(course)}" do
        .widget-item
          .tiles.white
            .box-img.tiles-body
              = image_tag course.image.url,
                          class: "center-block img-responsive hover-effect-img"

.row
  .col-lg-12
    - if policy(Course).new?
      = link_to new_course_path, class: "btn btn-success btn-cons",
                id: "add_new_course_link" do
        = fa_icon "plus"
        %span &nbsp;إنشاء دورة
