%p
  English Title:
  = @course.en_title
%p
  Arabic Title:
  = @course.ar_title
%p
  Description:
  = @course.description
%p
  Video Host:
  = @course.video_host
%p
  Video ID:
  = @course.video_id
%p
  Premium:
  = @course.premium
%p
  Active:
  = @course.active
