= disqus_script
= twitter_script
= facebook_script

.row
  .col-lg-12
    %ul.breadcrumb
      %li
        %p= link_to "الدورات", courses_path
      %li
        %p
          &nbsp;
          = @course.ar_title

.row
  .col-lg-8
    .grid.simple.transparent
      .embed-responsive.embed-responsive-16by9
        = video_iframe @course
      .social-buttons
        %span= facebook_button(request.original_url)
        %span= twitter_button(request.original_url, @course.ar_title)

    .grid.simple.horizontal.green
      .grid-title
        %h4
          %span.semi-bold= @course.ar_title
        .tools
          %a{ href: "javascript:;", class: "collapse" }
          %a{ href: "javascript:;", class: "reload" }
          %a{ href: "javascript:;", class: "remove" }
      .grid-body
        %p#course_description= @course.description.html_safe

    .grid.simple.horizontal.blue
      .grid-title
        %h4
          %span.semi-bold Comments
        .tools
          %a{ href: "javascript:;", class: "collapse" }
          %a{ href: "javascript:;", class: "reload" }
          %a{ href: "javascript:;", class: "remove" }
      .grid-body
        = disqus_comments

  .col-lg-4
    #episode-list.grid.simple.horizontal.yellow
      .grid-title
        %h4
          %span.semi-bold Episodes
        .tools
          %a{ href: "javascript:;", class: "collapse" }
          %a{ href: "javascript:;", class: "reload" }
          %a{ href: "javascript:;", class: "remove" }
      .grid-body
        - @course.get_sequential_episodes.each do |episode|
          = link_to course_episode_path(@course, episode),
                    id: "#{dom_id(episode)}" do
            .episode
              .episode-img
                = image_tag episode.image.url, size: "120x90", class: "bg-img"
                = image_tag "logo_play.png", class: "play"
              .episode-txt= episode.ar_title
        %br
        = link_to new_course_episode_path(@course),
                  class: "btn btn-success btn-cons",
                  id: "add_new_course_episode_link" do
          = fa_icon "plus"
          %span &nbsp;Add Episode

.row
  .col-lg-12
    .grid.simple.transparent
      = link_to edit_course_path, class: "btn btn-warning btn-cons",
                id: "edit_course_link" do
        = fa_icon "pencil"
        %span &nbsp;Edit Course
      = link_to course_path,
                class: "btn btn-danger btn-cons",
                id: "delete_course_link",
                method: :delete,
                data: { "confirm": "هل أنت متأكد؟",
                        "confirm-button-text": "نعم",
                        "cancel-button-text": "لا",
                        "confirm-button-color": "#F35958" } do
        = fa_icon "trash-o"
        %span &nbsp;Delete Course
