#main-menu.page-sidebar
  #main-menu-wrapper.page-sidebar-wrapper.scrollbar-dynamic
    .user-info-wrapper
      .profile-wrapper
        = get_user_avatar(current_user)
      .user-info
        .greeting
          مرحبا
        .username
          = current_user.username
        .status
          الحالة
          .status-icon.green
          متصل

    %p.menu-title
      الأقسام

    %ul
      %li.start{ class: "#{'active' if current_page?(root_path)}" }
        = link_to root_path  do
          = fa_icon "th-large"
          %span.title
            الرئيسية
      %li{ class: "#{'active' if %w(courses episodes).include?(params[:controller])}" }
        = link_to courses_path do
          = fa_icon "graduation-cap"
          %span.title الدورات
      %li
      %li{ class: "#{'active' if params[:controller] == 'articles'}" }
        = link_to articles_path do
          = fa_icon "pencil"
          %span.title المدونة
      -# %li
      -#   = link_to "#" do
      -#     = fa_icon "video-camera"
      -#     %span.title مكتبة الفيديو
