#main-menu.page-sidebar
  #main-menu-wrapper.page-sidebar-wrapper.scrollbar-dynamic
    .user-info-wrapper
      .profile-wrapper
        = image_tag "anonymous.png"
      .user-info
        .greeting
          مرحبا
        .username
          Mohammad
          -# = current_user.username
        .status
          الحالة
          .status-icon.green
          متصل

    %p.menu-title
      الأقسام

    %ul
      %li.start
        = link_to root_path, "data-no-turbolink": true do
          = fa_icon "th-large", style: "font-size: 15px;"
          %span.title
            الرئيسية
      %li
        = link_to courses_path do
          = fa_icon "graduation-cap"
          %span.title
            الدورات
      %li
        = link_to "#" do
          = fa_icon "video-camera"
          %span.title
            مكتبة الفيديو
