#main-menu.page-sidebar
  #main-menu-wrapper.page-sidebar-wrapper.scrollbar-dynamic
    .user-info-wrapper
      .profile-wrapper
        = link_to user_path(current_user) do
          = get_user_avatar(current_user, size="200x200")
      .user-info
        .greeting
          مرحبا
        .username
          = current_user.username
        .status
          الحالة
          .status-icon.green
          متصل

    %p.menu-title
      الأقسام
    %ul
      %li{ class: "#{'active' if params[:controller] == 'main'}" }
        = link_to root_path do
          = fa_icon "th-large"
          %span.title الكل
      %li{ class: "#{'active' if %w(courses episodes).include?(params[:controller])}" }
        = link_to courses_path do
          = fa_icon "graduation-cap"
          %span.title الدورات
      %li{ class: "#{'active' if params[:controller] == 'articles'}" }
        = link_to articles_path do
          = fa_icon "pencil"
          %span.title المدونة
      -# %li
      -#   = link_to "#" do
      -#     = fa_icon "video-camera"
      -#     %span.title مكتبة الفيديو

    - if policy(User).index?
      %p.menu-title
        الإدارة
      %ul
        %li.start{ class: "#{'active' if params[:controller] == 'users'}" }
          = link_to users_path  do
            = fa_icon "users"
            %span.title
              المستخدمين

-# .footer-widget
-#   .pull-right
-#     = link_to destroy_user_session_path, method: :delete do
-#       = fa_icon "power-off"
