!!!
%html
  %head
    = favicon_link_tag "/favicon.ico?version=1"
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no" }
    %title programer.tv
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{ params[:controller] }.css")
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{ params[:controller] }.js")
    = csrf_meta_tags
  %body.rtl
    = render "layouts/header"
    .page-container.row-fluid
      = render "layouts/sidebar"
      .page-content
        .content
          - flash.each do |key, value|
            .flash-message{ key: key, value: value }
          = yield
