!!!
%html
  %head
    = favicon_link_tag "/favicon.ico?version=1"
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no" }
    %title programer.tv
    = stylesheet_link_tag 'static_pages', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'static_pages', 'data-turbolinks-track' => true
    = google_analytics_script
    = csrf_meta_tags
  %body#page-top
    - flash.each do |key, value|
      .flash-message{ key: key, value: value }
    = yield
